{% extends 'auth/header.html' %}
{% block title %}ElectoChain:Candidates{% endblock %}

{% block head %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/candidate.css' %}">
    <script src="{% static 'js/addCandidate.js' %}"></script>

    <script>
        $(document).on("click", "#voteBtn", function () {

        var candidateId = $(this).data('id');
        var candidateName = $(this).data('name');
        var confirmBox = confirm("Are you sure, You want to cast your vote to " + candidateName);

        if(confirmBox){
            window.location.href = "/network/castVote/" + candidateId;
        }
        else{

        }
    });
    </script>

{% endblock %}

{% block body %}

    {% if errorMsg %}
         <div class="alert alert-dismissible alert-warning">
             <strong>{{ errorMsg }}</strong>
         </div>
    {% endif %}


<section id="team" class="pb-5">
    <div class="container">
        <h5 class="section-title h1">{{ currentElection.election_name }}</h5>
        <center><h3>Cast Your Vote here!</h3></center><br>
        {% if candidates %}
        <div class="row">
            {% for candidate in candidates %}
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                    <div class="mainflip">
                        <div class="frontside">
                            <div class="card">
                                <div class="card-body text-center">
                                    <p><img class=" img-fluid" src="{{ candidate.candidate_pic.url }}" alt="card image"></p>
                                    <h4 class="card-title">{{ candidate.candidate_name }}</h4>
                                    <p class="card-text"><b>{{ candidate.candidate_party }}</b></p>
                                </div>
                            </div>
                        </div>
                        <div class="backside">
                            <div class="card">
                                <div class="card-body text-center mt-4">
                                    <h4 class="card-title">{{ candidate.candidate_name }}</h4>
                                    <p class="card-text"><b>AGE : </b>{{ candidate.candidate_age }}</p>
                                    <p class="card-text">{{ candidate.candidate_description }}</p>
                                    <button id="voteBtn" data-id="{{ candidate.candidate_id }}" data-name="{{ candidate.candidate_name }}"
                                            type="button" class="btn btn-warning">Vote</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="col-md-12"><br>
                <center><h3>Sorry !!! There is no any election today !!!</h3></center>
            </div>
        {% endif %}
    </div>
</section>

{% endblock %}